.jobform{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;

}
.left-top-form {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding-left: 20px;
  row-gap: 25px;
  column-gap: 25px;
}

.select{
  padding: 10px;
  display: flex;
  height: fit-content;
  font-size: 15px;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  color: gray;
}

.job {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px;
  border-style: solid;
}
.EXP-SAL_box{
  display:grid;
  column-gap: 10px;
  grid-template-columns: auto auto;
  justify-content: space-between;

}

.EXP-SAL{
  padding-left: 10px;
  display: flex;
  font-size: 15px;
  border-radius: 10px;
  border: 1px;
  border-style: solid;
  min-width: 250px;
}

.inner-rightbox{
  display: grid;
  grid-row: 1fr;
  padding: 30px;
  row-gap: 30px;
  margin-right: 200px;
  background-color: grey;
}